@use '../helpers/index' as *;

.slide {
    background: #253a3a;
    margin-top: rem(50);
    padding: rem(40);
    border-radius: rem(35);
    color: #FFFFFF;
}

.slide__game-swiper__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: rem(265);

    &__img {
        width: rem(265);
        height: rem(365);
        border-radius: rem(25);
    }

    &__title {
        width: 100%;
        margin-top: rem(10);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price-block {
        display: flex;
        align-items: center;
        right: 0;

        &__value--discount {
            font-size: rem(20);
            font-weight: bold;
            margin-right: rem(10);
            display: flex;
            align-items: center;
            gap: rem(5);

            &__img {
                width: rem(24);
                height: rem(24);
                stroke: white;
            }
        }

        &__value--original {
            font-size: rem(13);
            color: #9ca3af;
            text-decoration: line-through;
        }
    }
}

//.swiper-slide {
//    width: auto !important;  // Переопределяем ширину слайда
//}

.swiper-buttons {
    display: flex;
    justify-content: center;
    margin-top: rem(35);
    gap: rem(10);

    .swiper-button {
        display: flex;
        align-items: center;
        background: #346565;
        border: none;
        border-radius: rem(10);
        padding: rem(7) rem(15);

        &:hover {
            background: #439393;
        }
    }
}