@use 'helpers/index' as *;

.container {
  width: var(--container-width);
  margin-inline: auto;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}